.table-sm td {
    vertical-align: middle !important;
    text-transform: capitalize;
    font-size: 16px !important;
    font-weight: 400;
}


/* 
.card-outline {
        border-top: 3px solid #007bff;
    } */